body { background: #e3e3e3; -webkit-font-smoothing: antialiased; }

.ScrollSceneIndicators { z-index: 9999999 !important; }

header { text-align: center; background: #573f93; color: #fff; position: relative; }
header * { text-shadow: 0px 1px 1px rgba(150, 150, 150, 0.35); }
header h1 { margin-top: 0; font-size: 50px; }
header h1 i.fa-heart { color: #dd4b50; }
header h1 i.fa-magic { color: #2761df; }
header hr { max-width: 80px; border-top: solid 2px #fff; }
header h2 { margin-bottom: 30px; }
header p { margin-bottom: 0px; }
header i.fa-angle-double-down { font-size: 50px; position: absolute; bottom: 10px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); color: #111; }
header i.fa-angle-double-down:after { content: 'Start Scrolling Down'; position: absolute; bottom: 100%; left: -35px; font-size: 15px; width: 104px; }

.wrap { text-align: center; background: #fff; padding: 50px 0; box-shadow: 0 0 6px rgba(153, 153, 153, 0.25); position: relative; }

/* Default Animation Styles */
#animation { background: #000; width: 100px; height: 100px; border-radius: 100%; margin: 50px auto; position: relative; }

#animation i { color: #fff; position: absolute; left: 50%; top: 50%; font-size: 30px; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

/* Introduction Slide */
.homeSlide { background: tomato; }
